@page "/Images/Productimage/{ID:int}"

@using EcommerceWeb.Services.Base
@using EcommerceWeb.Services.CategoryService
@using EcommerceWeb.Services.Images
@using EcommerceWeb.Services.Product


@inject IProduct proudctService
@inject IProductimage pImage
@inject ToastService ToastService

<Title>Category</Title>

<Toast></Toast>
<GroupBox Title="Add New Product Image" style="margin-top: 1.5rem;">
	<ValidateForm Model="@imageCreateDTO" OnValidSubmit=@HandelCreate>
		   <DataAnnotationsValidator />
 @if(productlist!=null)
 {
	@foreach (var model in productlist)
	{
 <BootstrapInput @bind-Value="@model.ProductName" DisplayText="Product Name" PlaceHolder="Product Name" Readonly=true/>
	}
	 
 }

	<div class="row g-3">
		<div class="col-6">
				<div class="row g-3">
			<div class="col-12">
        
		  </div>
			<div class="col-4">
		   
			<CardUpload  @bind-Value="@imageCreateDTO.Image" IsSingle="true" OnChange="OnAvatarUpload" ShowProgress="true" ShowLabel="true" DisplayText="Choose Images"/> 

			</div>
			
	
		</div>
		</div>
	
	</div>
	
		 <div class="row g-3">
      <div class="col-12" style="text-align:center">
          <br />

			<Button ButtonType="@ButtonType.Submit" Text="Submit" IsAsync="true" Icon="fa fa-fw fa-fa"/>
      </div>
  </div>
	</ValidateForm>
</GroupBox>